<div class="main-content">
  <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                      <h3 class="card-title"> Software develoment</h3>
                    </div>
                    <div class="card-body">
                       <h4>OpenKiwi is a leading software development company that specializes in creating innovative and reliable software solutions for businesses of all sizes. With a team of highly skilled developers and designers, OpenKiwi offers a wide range of services that cater to various industries, including healthcare, finance, education, and e-commerce. Their expertise lies in developing custom software applications, web and mobile applications, enterprise software solutions, and cloud-based software. OpenKiwi is dedicated to providing top-quality services and helping businesses enhance their efficiency and productivity through their software solutions. Their commitment to delivering exceptional customer service and providing tailored solutions that meet their clients' unique needs has made them a trusted partner for businesses looking to stay ahead of the competition.</h4>
                    </div>
                </div>
            </div>
    
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-danger">
                  <h3 class="card-title"> Web hosting</h3>
                </div>
                <div class="card-body">
                   <h4>Domains, web hosting, and storage management are three essential components of building and maintaining a website.

                    A domain name is the unique web address that users type into their browser to access a website. It is important to choose a domain name that is memorable and easy to spell, as it serves as the identity of the website.
                    
                    Web hosting refers to the service of providing space on a server to store and serve website files to users who request them. Web hosting providers offer a range of hosting plans, including shared hosting, virtual private servers (VPS), and dedicated servers, which vary in terms of storage capacity, bandwidth, and resources.
                    
                    Storage management refers to the process of managing and optimizing the storage of website files and data. This includes tasks such as backing up website data, ensuring adequate storage capacity, and optimizing website speed and performance.
                    
                    Together, domains, web hosting, and storage management are critical components of website development and management, and choosing the right providers and strategies can greatly impact a website's success.</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-success">
                  <h3 class="card-title"> Professional services</h3>
                </div>
                <div class="card-body">
                   <h4>Professional services refer to a category of services that are offered by experts or professionals with specialized knowledge and skills in a particular field. These services can be provided to businesses, organizations, or individuals and are designed to help them achieve their goals and objectives. Professional services can include a wide range of fields, such as consulting, accounting, legal services, marketing, technology, and more. Professional service providers offer expertise, guidance, and support to their clients to help them solve complex problems, optimize their operations, and achieve their desired outcomes. The main aim of professional services is to provide value to the clients by offering tailored solutions that meet their specific needs and help them achieve success in their respective industries.</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-warning">
                  <h3 class="card-title"> Software Integration</h3>
                </div>
                <div class="card-body">
                   <h4>Software integration refers to the process of connecting different software applications or systems to work together seamlessly. This integration can be achieved through a variety of methods, including application programming interfaces (APIs), middleware, and custom software development. The goal of software integration is to streamline processes, increase efficiency, and improve data sharing across different systems. With software integration, businesses can eliminate duplicate data entry, reduce errors, and improve decision-making by having access to accurate and up-to-date information. Additionally, software integration can enable businesses to automate processes, improve customer experience, and reduce costs.</h4>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
